{% extends 'base.html' %} {% block content %}
<div class="bg full-height">
    {% include 'partials/_admin_navbar.html' %}
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-8">
                <div class="card shadow border-0">
                    <div class="card-body">
                        <h1 class="text-center">Create Admin</h1>
                        <form action="" method="POST">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.name.label(class="col-form-label font-weight-bold") }}
                                {{ form.name(class="form-control", placeholder="Name of Admin") }}

                                {% if form.name.errors %}
                                    <div class="mt-2">
                                        {% for error in form.name.errors %}
                                            <span class="text-danger">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.email.label(class="col-form-label font-weight-bold") }}
                                {{ form.email(class="form-control", placeholder="Email Address") }}

                                {% if form.email.errors %}
                                    <div class="mt-2">
                                        {% for error in form.email.errors %}
                                            <span class="text-danger">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.password.label(class="col-form-label font-weight-bold") }}
                                {{ form.password(class="form-control", placeholder="Password") }}

                                {% if form.password.errors %}
                                    <div class="mt-2">
                                        {% for error in form.password.errors %}
                                            <span class="text-danger">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.confirm_password.label(class="col-form-label font-weight-bold") }}
                                {{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}

                                {% if form.confirm_password.errors %}
                                    <div class="mt-2">
                                        {% for error in form.confirm_password.errors %}
                                            <span class="text-danger">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group d-flex justify-content-center pt-4">
                                {{ form.submit(class="btn btn-purple shadow") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}