{% extends 'base.html' %} 
{% block content %}
    <div class="bg full-height">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center full-height">
                <div class="col-md-8">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <img src="{{ url_for('static', filename='img/national-emblem.png') }}" alt="" class="img-fluid d-block mx-auto p-2">
                            <h1 class="text-center">Admin Login</h1>
                            <form action="" method="POST">
                                {{ form.hidden_tag() }}
                                <div class="form-group">
                                    {{ form.email.label(class="col-form-label font-weight-bold") }}
                                    {{ form.email(class="form-control", placeholder="Email Address") }}

                                    {% if form.email.errors %}
                                        <div class="mt-2">
                                            {% for error in form.email.errors %}
                                                <span class="text-danger">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.password.label(class="col-form-label font-weight-bold") }}
                                    {{ form.password(class="form-control", placeholder="Password") }}

                                    {% if form.password.errors %}
                                        <div class="mt-2">
                                            {% for error in form.password.errors %}
                                                <span class="text-danger">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="form-group d-flex justify-content-center pt-4">
                                    {{ form.submit(class="btn btn-purple shadow") }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
