@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: "Raleway", sans-serif !important;
}

.full-height {
    height: 100vh;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}

.bg {
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.shadow {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
}

.form-control {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.16) !important;
    border: solid 1px #03a9f4 !important;
    padding: 30px 15px !important;
    font-family: 'Open Sans', sans-serif;
}

.btn {
    border: none;
}

.btn:hover {
    color: white;
}

.btn-purple {
    background-color: #e91e63;
    color: white;
}

.nav-link.active {
    border-bottom: 1px solid #03A9F4;
}

.btn-info {
    background-color: #03A9F4;
}

.btn-danger {
    background-color: #F44336;
}
