{% extends 'base.html' %} 
{% block content %}
<div class="bg full-height">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center full-height">
            <div class="col-md-8">
                <div class="card shadow border-0">
                    <div class="card-body">
                        <img
                            src="{{ url_for('static', filename='img/national-emblem.png') }}"
                            alt=""
                            class="img-fluid d-block mx-auto p-2"
                        />
                        <h1 class="text-center">User Login</h1>
                        <form action="" method="POST">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.adhaar_number.label(class="col-form-label font-weight-bold") }}
                                {{ form.adhaar_number(class="form-control", placeholder="Adhaar Number") }}

                                {% if form.adhaar_number.errors %}
                                    <div class="mt-2">
                                        {% for error in form.adhaar_number.errors %}
                                            <span class="text-danger">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.otp.label(class="col-form-label font-weight-bold") }}
                                {{ form.otp(class="form-control", placeholder="Verify OTP") }}

                                {% if form.otp.errors %}
                                    <div class="mt-2">
                                        {% for error in form.otp.errors %}
                                            <span class="text-danger">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group d-flex justify-content-center pt-4">
                                {{ form.submit(class="btn btn-purple shadow") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
